*{
    margin: 0; 
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    background: #F15B22;

    

}
/* header styles */
.header{
    height: 600px;
    background-image: url(../images/banner/banner1_5_1919x600.png);
    background-repeat: no-repeat;
    background-position: left;
   
}
/* banner styles */
.banner{
    padding-top: 83px;
    position: relative;
    text-align: right;
    color: white;
} 
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, 30%);
    margin-right: 230px;
    

}
.banner-title{
    color: black;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}
.banner-description{
   color: #444343;
   font-weight: 400;
   font-size: 16px;
   margin-bottom: 32px;

}
/* main section */
/* previus year section */
main{
    max-width: 1140px;
    margin:138px auto;
}
.previus-year-container{
    display: flex;
    justify-content: space-between;
    gap: 87;
    background: white;
}
.previus-year-container img{

}
.previus-year-title{
    font-weight: 600;
    font-size: 40px;
    color: #151414;
}
.previus-year-text{
    color: #444343; 
    margin-left: 87px;
    margin-top: 215px; 
  
}
.previus-year-description {
    font-weight: 600;
    font-size: 16px;
     margin: 16px auto;

}
.previus-year-list{
    list-style-type: none;
    margin-top: 16px;
}
 /* my plans section  */
 .my-plans-container{
    text-align: center;
    margin: 130px auto;
 }
 .my-plans-title{
      
      font-weight: 700;
      font-size: 40px;

 }
 .skills-container {
    display: flex;
    justify-content: space-between;
    margin-top:  50px ;
 }
.skill-title{
     margin-top: 15px;
}
 .skill-description{
  
    font-weight: 200;
    color: #737272;
 }